/*!
  * Copyright 2019 - Author gauravm.git@gmail.com
  */

// Global
body {
  background-color: #f2f1ed;
}

// Title
::slotted([slot=title]) {
  margin-bottom: 3.75rem;
  text-align: center;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 300;
  font-stretch: normal;
  font-size: 2.25em;
  line-height: normal;
  text-transform: uppercase;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
    color: #1a1a1a;
  }

  // Countdown
  .countdown {
    display: flex;

    .time-container {
      margin-right: 2.82rem;
      text-align: center;

      .count-title {
        display: block;
        margin-bottom: .94rem;
        margin-top: .94rem;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 0.94em;
        line-height: normal;
        color: #1a1a1a;
        text-transform: uppercase;
      }

      .figure-container {
        display: flex;

        .figure {
          position: relative;
          float: left;
          height: 6.87rem;
          width: 6.25rem;
          margin-right: .625rem;
          background-color: #fff;
          border-radius: 0.5rem;
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08);

          &:last-child {
            margin-right: 0;
          }

          > span {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            font-style: normal;
            font-variant-ligatures: normal;
            font-variant-caps: normal;
            font-variant-numeric: normal;
            font-variant-east-asian: normal;
            font-weight: 700;
            font-stretch: normal;
            font-size: 5.94em;
            line-height: 6.68rem;
            font-weight: 700;
            color: #de4848;
          }

          .top,
          .bottom-back {
            &:after {
              content: "";
              position: absolute;
              z-index: -1;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
          }

          .top {
            z-index: 3;
            background-color: #f7f7f7;
            transform-origin: 50% 100%;
            -webkit-transform-origin: 50% 100%;
            border-top-left-radius: .625rem;
            border-top-right-radius: .625rem;
            transform: 12.5rem;
            perspective: 12.5rem;
          }

          .bottom {
            z-index: 1;

            &:before {
              content: "";
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              width: 100%;
              height: 50%;
              background-color: rgba(0, 0, 0, .02);
            }
          }

          .bottom-back {
            z-index: 2;
            top: 0;
            height: 50%;
            overflow: hidden;
            background-color: #f7f7f7;
            border-top-left-radius: .625rem;
            border-top-right-radius: .625rem;

            span {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              margin: auto;
            }
          }

          .top,
          .top-back {
            height: 50%;
            overflow: hidden;
            backface-visibility: hidden;
          }

          .top-back {
            z-index: 4;
            bottom: 0;
            background-color: #fff;
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            transform: rotateX(180deg);
            perspective: 12.5rem;
            border-bottom-left-radius: .625rem;
            border-bottom-right-radius: .625rem;

            span {
              position: absolute;
              top: -100%;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 786px) {
    .countdown {
      flex-direction: column;
    }
  }
}
